body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: darkcyan;
    text-align: center;
}

section {
    margin-bottom: 50px;
}

.date {
    color: gray;
    ;

}

.middle {
    position: absolute;
    margin-left: 125px;
}

.place {
    float: right;
    color: gray;
}